body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    background: url("../images/concrete_seamless.png");
  }
  
  * {
    box-sizing: border-box;
  }
  
/* general */

.container {
width: 100%;
max-width: 960px;
margin: 0 auto;
clear: both;
}

h1,
h2,
h3,
p {
margin-bottom: 20px;
}

p:last-child {
margin-bottom: 0;
}

h1,
h2,
h3 {
font-family: Georgia, Times, "Times New Roman", serif;
font-weight: 700;
color: #4aaaa5;
}

h1 {
padding-bottom: 20px;
font-size: 30px;
line-height: 49px;
border-bottom: 3px solid #ddd;
}

h2,
h3 {
font-size: 22px;
}

/* header */

#masthead {
position: fixed;
z-index: 99;
width: 100%;
margin: 0 0 30px;
overflow: auto;
color: #fff;
background: #fff;
border-bottom: 2px solid #ccc;
}

#logo {
float: left;
width: 350px;
height: 90px;
font-family: Georgia, Times, "Times New Roman", serif;
font-size: 30px;
font-weight: 700;
line-height: 90px;
color: #fff;
text-align: center;
text-decoration: none;
background: #4aaaa5;
}

nav {
float: right;
margin-top: 25px;
}

nav a {
display: inline-block;
padding-left: 15px;
margin-left: 15px;
line-height: 18px;
color: #999;
text-decoration: none;
border-left: 1px solid #efefef;
}

nav a:first-child {
border-left: 0 none;
}

/* side-bar */

.side-bar {
    float: right;
    width: 35%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #fff;
    border: 1px solid #ddd;
}

a:-webkit-any-link {
    text-decoration:none;
    text-decoration-line: none;   
}

.icons a {  
    text-align: center;
}

.fab{   
    margin:10px;
}

.fa-github-square{
    color:black;
    font-size: 70px;
}

.fa-linkedin{
    color:#0077B5;
    font-size: 70px;
}
   
.fa-stack-overflow{
    color:white;
    background-color: orange;
    border-radius: 5px;
    font-size: 60px;
    padding: 5px 5px 0 5px;
}

/* footer */

footer {
padding: 30px 0;
clear: both;
font-size: 12px;
color: #fff;
color: #ccc;
text-align: center;
background: #666;
border-top: 8px solid #4aaaa5;
height: 50px;
}

h3, h2 {
padding-bottom: 20px;
margin-bottom: 15px;
line-height: 22px;
border-bottom: 2px solid #eee;
}

/* main */

#main-container {
padding-top: 130px;
min-height: calc(100vh - 70px);
}

.main-section {
float: left;
width: 60%;
max-width: 960px;
padding: 30px;
margin: 0 0 40px;
background: #fff;
border: 1px solid #ddd;
}

/* portfolio page */

.work {
position: relative;
float: left;
width: 274px;
margin: 20px 0 25px;
overflow: auto;
}

.work:nth-child(even) {
margin-right: 40px;
}

.work img {
width: 100%;
border: 0 none;
opacity: 0.8;
}

.work h3 {
position: absolute;
bottom: 20px;
width: 100%;
padding: 15px;
margin-bottom: 0;
font-weight: 300;
line-height: 30px;
color: #fff;
text-align: center;
background: #4aaaa5;
border-bottom: 0;
}

.auth-image {
float: left;
width: 200px;
height: auto;
margin-top: 10px;
margin-right: 25px;
}

/* contact page */

#contact-form ul {
margin-bottom: 20px;
}

#contact-form li {
margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
display: block;
width: 100%;
}

input[type=text],
input[type=email],
textarea {
height: 35px;
padding: 0 10px;
font-size: 14px;
border: 1px solid #ddd;
}

textarea {
height: 200px;
}

input[type=submit] {
padding: 10px 30px;
font-size: 18px;
color: #fff;
cursor: pointer;
background: #4aaaa5;
border: 0 none;
}



/******** Media Inquiries ********/

@media screen and (max-width: 980px) {
    #masthead {
        float: left;
    }

    li a {
        padding: 0 10px;
        margin-top: 35px;
    }

    .container { 
        width:98%; 
        margin: 10px auto;
    }

    .main-container {
        width:60%; 
        float:left;
         margin: 10px auto;
    }
    
    .auth-image {
        height:auto;
        width:85%; 
        margin: 25px 30px 25px 30px;
        border-radius: 3px;
    }

    .side-bar {
        width:35%; 
        float:left;
        margin: 10px 0 0 25px;
    }

    .side-bar h1 {
        font-size:125%;
    }

    .work img {
        height:300px;width:90%; 
        margin:2.5% 5%;
    }

    .work h3 { 
        margin-top: 225px;
    } 
    

}



@media screen and (max-width: 768px) {
    #masthead{ 
        float:left; 
        margin:0 80px 0 25px; 
        font-size:150%;
    }
    li a{ 
        margin-top: 35px; 
        float:right;
    }
    
    .container{ 
        width:92%; 
        margin: 10px auto;
    }

    #main-container{
        width:100%; 
        float:left; 
        margin: 10px auto;
    }
    .auth-image {
        float:left; 
        height:250px; 
        width:325px; 
        margin: 20px; 
        border-radius: 3px;
    }
    .main-section p{
        margin: 20px 20px;
    }
    .side-bar{
        width:100%; 
        float:left; 
        margin: 10px auto;
    
    }
    .work img{
        height:200px;
        width:46%; 
        margin:2%;
    }
    .work h3{
        height: 4px;
        padding-top: 20px;
        padding-bottom: 35px;
        margin-top: 125px;
        font-size: 75%;
    }  
    .fa-stack-overflow{
        width:60px;
        height:60px;
        font-size: 60px;
    } 

}



@media screen and (max-width: 640px) {
    #logo{ 
        width:100%; 
        margin:0;padding: 0;
    }
    li {
        margin-bottom: 15px;
    }

    li a {
        padding: 0 30px;
    }

    nav { 
        float:none; 
        clear:left;display:block;
        text-align: center;
    
    }

    .auth-image {
        height:auto; 
        width:92%; 
        margin: 20px 3%; 
        border-radius: 3px;
    }

    .container { 
        width:92%; 
        margin: 10px auto;
    }

    .main-section {
        width:100%; 
        float:left; 
        margin: 10px auto;
    }

    .side-bar {
        width:100%; 
        float:left; 
        margin: 10px auto;
    } 

    .work img {
        height:250px;
        width:90%; 
        margin:2.5% 5%;
    }
    
    .work h1 {
        height: 4px;
        text-align: center;
        margin-top: 180px;
        font-size:100%;
    }
}